{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Equipo Smart-Tec</h1>
    <p>¡Bienvenidos al Portal de Gestión de Tareas del Equipo! Aquí, nuestro equipo puede administrar y organizar sus tareas diarias de manera eficiente. Esta plataforma está diseñada para facilitar la colaboración, mejorar la productividad y asegurar que cada tarea se complete de manera oportuna. Ya sea asignando nuevas responsabilidades, monitoreando el progreso de proyectos actuales o revisando tareas completadas, nuestro portal le proporciona todas las herramientas necesarias para mantener el trabajo en marcha y garantizar que nada se quede atrás. ¡Empecemos a trabajar juntos y a alcanzar nuestros objetivos con éxito!.</p>
    
    <div class="text-center">
        <a class="btn btn-dark" href="/signin/">
            Iniciar Sesión
        </a>
        <a class="btn btn-dark" href="/signup/">
            Registrarse
        </a>
    </div>

    </section>
</main>
    
{% endblock %}